* {
  margin: 0 0;
  padding: 0 0;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "微软雅黑", Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  line-height: 0.4rem;
  font-family: Courier, monospace, "Microsoft YaHei", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "微软雅黑", Arial, sans-serif;
}
blockquote {
  margin-top: 20px !important;
}
html,
div,
p,
span,
img,
input,
a,
ul,
li,
td,
th,
a:hover {
  vertical-align: middle;
  color: inherit;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}
.tox-fullscreen .tox.tox-tinymce.tox-fullscreen {
  top: 1.1rem !important;
}
.ivu-select-selection {
  border: 1px solid #3371ff;
  border-radius: 4px;
  text-align: center;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-arrow,
.ivu-select-selected-value {
  color: #3371ff;
}
.ivu-select-dropdown {
  border: 1px solid #bfbfbf;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
.ivu-select-visible .ivu-select-selection {
  box-shadow: none;
}
.ivu-select-item {
  color: #999999;
  text-align: left;
}
.ivu-select-item-selected,
.ivu-select-item-selected:hover {
  background: #3371ff;
  color: #fff;
}
.ivu-select-item-focus {
  background: #3371ff;
}
.ivu-page-item {
  background: transparent;
  font-size: 0px;
}
.ivu-page-item a {
  font-family: "Microsoft Yahei";
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  line-height: 0.4rem;
  border: 1px solid #808080;
  color: #808080;
  font-size: 0.16rem;
  vertical-align: middle;
  font-weight: 400;
}
.ivu-page-item-active a,
.ivu-page-item-active:hover a {
  background: #1e85e6;
  color: #fff;
  border: 0px;
}
.ivu-page.mini .ivu-page-item {
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  line-height: 0.4rem;
  vertical-align: middle;
  margin-left: 10px;
}
.ivu-page.mini .ivu-page-next,
.ivu-page.mini .ivu-page-prev {
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  border: 1px solid #808080;
  line-height: 0.4rem;
  background: transparent;
  vertical-align: middle;
  border-radius: 0px;
  display: none;
}
.ivu-page.mini .ivu-page-next {
  margin-left: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .ivu-select-selection,
  .ivu-select-single .ivu-select-selection {
    height: 16px;
    line-height: 16px;
  }
  .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
  .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    height: 16px;
    line-height: 16px;
    font-size: 8px;
  }
  nav.navbar ul.navbar-item-container li.navbar-item button {
    width: 20px !important;
    height: 20px !important;
  }
  nav.navbar ul.navbar-item-container li.navbar-item button .fa {
    font-size: 0.3rem !important;
  }
  nav.navbar ul.navbar-item-container {
    min-width: 100% !important;
    max-width: 100% !important;
  }
  p img {
    width: 100%;
  }
  blockquote p {
    font-size: 0.3rem;
  }
}
